.userCard {
  display: flex;
  padding: 48px;
  background: #1e2a47;
  border-radius: 15px;
  max-width: 730px;
  width: 100%;
  gap: 37px;
  .avatar {
    flex-basis: 25%;
  }
  .card {
    width: 100%;
    .tag {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #0079ff;
      margin-bottom: 20px;
    }
    .bio {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.75;
      margin-bottom: 32px;
    }

    .info {
      display: flex;
      gap: 25px;
      margin-bottom: 37px;

      justify-content: space-between;
      background: #141d2f;
      border-radius: 10px;
      padding-top: 15px;
      padding-bottom: 17px;
      padding-inline: 32px;
      max-width: 480px;
      .info_about {
        &:nth-child(2) {
          margin-left: -10px;
        }
        flex: 1;
        .info_num {
          font-weight: 400;
          font-size: 13px;
          color: #ffffff;
          line-height: 19px;
        }
        .count {
          font-weight: 700;
          font-size: 22px;
          line-height: 33px;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }

    .registration {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .name {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 39px;
        color: #ffffff;
      }
      .joined {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: right;
        color: #ffffff;
      }
    }
  }
}
.user_info {
  max-width: 480px;
  display: flex;
  gap: 67px;
  .user_info_contact {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 19px;
    .user_contact {
      display: flex;
      align-items: center;
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #ffffff;
        margin-left: 16px;
      }
    }
  }
}
