.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 730px;
  width: 100%;
  margin-bottom: 36px;
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #ffffff;
  }
  .switcher {
    display: flex;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    span {
      font-weight: 700;
      font-size: 13px;
      line-height: 19px;
      text-align: right;
      letter-spacing: 2.5px;
      color: #ffffff;
      margin-right: 16px;
    }
    img {
      display: inline;
    }
  }
}
