*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

:root {
  --body_bg_color: #f6f8ff;
  --para_color: #697c9a;
  --container_bg_color: #fefefe;
  --heading_color: #2b3442;
  --btn_color: #0079ff;
  --btn_hover_color: #4b6a9b;
  --transparentText: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] {
  --body_bg_color: #141d2f;
  --para_color: #ffffff;
  --container_bg_color: #1e2a47;
  --heading_color: white;
  --btn_color: #0079ff;
  --btn_hover_color: #4b6a9b;
  --transparentText: rgba(255, 255, 255, 0.4);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  line-height: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
.App {
  background: var(--body_bg_color);
  padding-inline: 24px;
}
body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
}

html:focus-within {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Space Mono', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
